<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_41e8749cb56198d7beac32a0852b970e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_41e8749cb56198d7beac32a0852b970e" ></div>
        
</body>
<script>
    
    
            var map_41e8749cb56198d7beac32a0852b970e = L.map(
                "map_41e8749cb56198d7beac32a0852b970e",
                {
                    center: [56.2927, 44.002],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8b75a7670a4fd0e4398c7258bc965b2c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_41e8749cb56198d7beac32a0852b970e);
        
    
            var feature_group_aaf36aa83fd95888e9804f2929de5356 = L.featureGroup(
                {}
            ).addTo(map_41e8749cb56198d7beac32a0852b970e);
        
    
            var marker_d58fb9a9f153135d82e793b0db2e6a1f = L.marker(
                [56.3312128, 44.0094863],
                {}
            ).addTo(feature_group_aaf36aa83fd95888e9804f2929de5356);
        
    
            var icon_c12dce2f149ce284f2add4cd69e25176 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-star", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d58fb9a9f153135d82e793b0db2e6a1f.setIcon(icon_c12dce2f149ce284f2add4cd69e25176);
        
    
        var popup_c623e0b8dec19c83c80002d78a5e5a0b = L.popup({"maxWidth": 500});

        
            
                var html_8a728e856d03b4a40707f74b28c0167d = $(`<div id="html_8a728e856d03b4a40707f74b28c0167d" style="width: 100.0%; height: 100.0%;">Чкаловская лестница        – архитектурнаядостопримечательность Нижнего Новгорода.</div>`)[0];
                popup_c623e0b8dec19c83c80002d78a5e5a0b.setContent(html_8a728e856d03b4a40707f74b28c0167d);
            
        

        marker_d58fb9a9f153135d82e793b0db2e6a1f.bindPopup(popup_c623e0b8dec19c83c80002d78a5e5a0b)
        ;

        
    
    
            marker_d58fb9a9f153135d82e793b0db2e6a1f.bindTooltip(
                `<div>
                     Чкаловская лестница
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6b58f5bd9b52a0297584ea8c6d4810ff = L.marker(
                [56.3272013, 44.0027067],
                {}
            ).addTo(feature_group_aaf36aa83fd95888e9804f2929de5356);
        
    
            var icon_d603eb36846bd358d541898342b99f94 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-star", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_6b58f5bd9b52a0297584ea8c6d4810ff.setIcon(icon_d603eb36846bd358d541898342b99f94);
        
    
        var popup_e3071b54eb643a306d2575628e8cb2ce = L.popup({"maxWidth": 500});

        
            
                var html_d30bda108d1c50296734b8190cef05e4 = $(`<div id="html_d30bda108d1c50296734b8190cef05e4" style="width: 100.0%; height: 100.0%;">Нижегородский кремль –древняя крепость и одновременно        главная историческая достопримечательность Нижнего Новгорода</div>`)[0];
                popup_e3071b54eb643a306d2575628e8cb2ce.setContent(html_d30bda108d1c50296734b8190cef05e4);
            
        

        marker_6b58f5bd9b52a0297584ea8c6d4810ff.bindPopup(popup_e3071b54eb643a306d2575628e8cb2ce)
        ;

        
    
    
            marker_6b58f5bd9b52a0297584ea8c6d4810ff.bindTooltip(
                `<div>
                     Нижегородский кремль
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0e61f6fdb8af697bd47167b014e336c9 = L.marker(
                [56.3283203, 43.9612056],
                {}
            ).addTo(feature_group_aaf36aa83fd95888e9804f2929de5356);
        
    
            var icon_eca3adb3bf5939f3aa453083e9a80ab6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-star", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0e61f6fdb8af697bd47167b014e336c9.setIcon(icon_eca3adb3bf5939f3aa453083e9a80ab6);
        
    
        var popup_0be57aef1bcb6a6ac4b6a95315e9395a = L.popup({"maxWidth": 500});

        
            
                var html_f6ffcdeac9d9a682716e16c4bf88f562 = $(`<div id="html_f6ffcdeac9d9a682716e16c4bf88f562" style="width: 100.0%; height: 100.0%;">Нижегородская ярмарка — современный выставочный комплекс        и один из популярных брендов Нижнего Новгорода.</div>`)[0];
                popup_0be57aef1bcb6a6ac4b6a95315e9395a.setContent(html_f6ffcdeac9d9a682716e16c4bf88f562);
            
        

        marker_0e61f6fdb8af697bd47167b014e336c9.bindPopup(popup_0be57aef1bcb6a6ac4b6a95315e9395a)
        ;

        
    
    
            marker_0e61f6fdb8af697bd47167b014e336c9.bindTooltip(
                `<div>
                     Нижегородская ярмарка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_38652fdf671ee77f447fe56b22e2f538 = L.marker(
                [56.3230103, 43.9767375],
                {}
            ).addTo(feature_group_aaf36aa83fd95888e9804f2929de5356);
        
    
            var icon_36b544f8466e74de98e7eef41b25d12a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-star", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_38652fdf671ee77f447fe56b22e2f538.setIcon(icon_36b544f8466e74de98e7eef41b25d12a);
        
    
        var popup_a5448f15550362ad7588426b30d06f24 = L.popup({"maxWidth": 500});

        
            
                var html_002292b1dde6708e0896918e280cd7bf = $(`<div id="html_002292b1dde6708e0896918e280cd7bf" style="width: 100.0%; height: 100.0%;">Благовещенский монастырь — древнейшая обитель         в Нижнем Новгороде, основанная в 1221 году.</div>`)[0];
                popup_a5448f15550362ad7588426b30d06f24.setContent(html_002292b1dde6708e0896918e280cd7bf);
            
        

        marker_38652fdf671ee77f447fe56b22e2f538.bindPopup(popup_a5448f15550362ad7588426b30d06f24)
        ;

        
    
    
            marker_38652fdf671ee77f447fe56b22e2f538.bindTooltip(
                `<div>
                     Благовещенский монастырь
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_adbfd59130942d9e732e00a1293dc3c6 = L.marker(
                [56.3110529, 43.9879634],
                {}
            ).addTo(feature_group_aaf36aa83fd95888e9804f2929de5356);
        
    
            var icon_875512c25721c1c650fac1e6774e0e8c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-star", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_adbfd59130942d9e732e00a1293dc3c6.setIcon(icon_875512c25721c1c650fac1e6774e0e8c);
        
    
        var popup_566268d0c9e34d4eccc58a2e63817eb8 = L.popup({"maxWidth": 500});

        
            
                var html_b6cd663e095b772adda4e4430d30c702 = $(`<div id="html_b6cd663e095b772adda4e4430d30c702" style="width: 100.0%; height: 100.0%;">Большая Покровская улица –         одна из главных и самых старых улиц Нижнего Новгорода.</div>`)[0];
                popup_566268d0c9e34d4eccc58a2e63817eb8.setContent(html_b6cd663e095b772adda4e4430d30c702);
            
        

        marker_adbfd59130942d9e732e00a1293dc3c6.bindPopup(popup_566268d0c9e34d4eccc58a2e63817eb8)
        ;

        
    
    
            marker_adbfd59130942d9e732e00a1293dc3c6.bindTooltip(
                `<div>
                     Большая Покровская улица
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_9f7f7e62c6a453320cc4477737c3396e = L.featureGroup(
                {}
            ).addTo(map_41e8749cb56198d7beac32a0852b970e);
        
    
            var marker_b2d112acf4d364fb727fade67ff68d38 = L.marker(
                [56.26657, 44.02483],
                {}
            ).addTo(feature_group_9f7f7e62c6a453320cc4477737c3396e);
        
    
            var icon_c74ad6812b6945e036e6e8f893fdfae5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-bold", "iconColor": "white", "markerColor": "lightgreen", "prefix": "glyphicon"}
            );
            marker_b2d112acf4d364fb727fade67ff68d38.setIcon(icon_c74ad6812b6945e036e6e8f893fdfae5);
        
    
        var popup_45d2d5dc49b0db6832940f8a682a4781 = L.popup({"maxWidth": 500});

        
            
                var html_d1790f4aa174dc5583865ca8c19a4c8f = $(`<div id="html_d1790f4aa174dc5583865ca8c19a4c8f" style="width: 100.0%; height: 100.0%;">Офис Сбер на Академика Сахарова</div>`)[0];
                popup_45d2d5dc49b0db6832940f8a682a4781.setContent(html_d1790f4aa174dc5583865ca8c19a4c8f);
            
        

        marker_b2d112acf4d364fb727fade67ff68d38.bindPopup(popup_45d2d5dc49b0db6832940f8a682a4781)
        ;

        
    
    
            marker_b2d112acf4d364fb727fade67ff68d38.bindTooltip(
                `<div>
                     Офис Сбер
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eaf84ec2db96181fd205c6cc98fa704e = L.marker(
                [56.27908, 43.95141],
                {}
            ).addTo(feature_group_9f7f7e62c6a453320cc4477737c3396e);
        
    
            var icon_171ea7ce8926decf94c6041b2d5ea4e7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-bold", "iconColor": "white", "markerColor": "lightgreen", "prefix": "glyphicon"}
            );
            marker_eaf84ec2db96181fd205c6cc98fa704e.setIcon(icon_171ea7ce8926decf94c6041b2d5ea4e7);
        
    
        var popup_dfa5b4d1a155c5aced219cc1ebcf7d41 = L.popup({"maxWidth": 500});

        
            
                var html_a3fa5363d2393370c7f98c83a7332bf1 = $(`<div id="html_a3fa5363d2393370c7f98c83a7332bf1" style="width: 100.0%; height: 100.0%;">Отделение СберБанка</div>`)[0];
                popup_dfa5b4d1a155c5aced219cc1ebcf7d41.setContent(html_a3fa5363d2393370c7f98c83a7332bf1);
            
        

        marker_eaf84ec2db96181fd205c6cc98fa704e.bindPopup(popup_dfa5b4d1a155c5aced219cc1ebcf7d41)
        ;

        
    
    
            marker_eaf84ec2db96181fd205c6cc98fa704e.bindTooltip(
                `<div>
                     Отделение СберБанка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a523d940155e72044e635484bbad6966 = L.marker(
                [56.30731, 43.93684],
                {}
            ).addTo(feature_group_9f7f7e62c6a453320cc4477737c3396e);
        
    
            var icon_8545d783d83ecf038348d7b2fddf79f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-bold", "iconColor": "white", "markerColor": "lightgreen", "prefix": "glyphicon"}
            );
            marker_a523d940155e72044e635484bbad6966.setIcon(icon_8545d783d83ecf038348d7b2fddf79f8);
        
    
        var popup_741cbd0970c2894c3932ad1e65f00f1a = L.popup({"maxWidth": 500});

        
            
                var html_acf8bde2adb9f3265e51b04a300dbed6 = $(`<div id="html_acf8bde2adb9f3265e51b04a300dbed6" style="width: 100.0%; height: 100.0%;">Отделение СберБанка</div>`)[0];
                popup_741cbd0970c2894c3932ad1e65f00f1a.setContent(html_acf8bde2adb9f3265e51b04a300dbed6);
            
        

        marker_a523d940155e72044e635484bbad6966.bindPopup(popup_741cbd0970c2894c3932ad1e65f00f1a)
        ;

        
    
    
            marker_a523d940155e72044e635484bbad6966.bindTooltip(
                `<div>
                     Отделение СберБанка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e727bca8c34a1d018af09724cfc903e0 = L.marker(
                [56.32695, 43.95637],
                {}
            ).addTo(feature_group_9f7f7e62c6a453320cc4477737c3396e);
        
    
            var icon_fa6fde0c57305aa364879e617f74c146 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-bold", "iconColor": "white", "markerColor": "lightgreen", "prefix": "glyphicon"}
            );
            marker_e727bca8c34a1d018af09724cfc903e0.setIcon(icon_fa6fde0c57305aa364879e617f74c146);
        
    
        var popup_97a26d9a5e20b46b23811a64ac6d8d10 = L.popup({"maxWidth": 500});

        
            
                var html_1b8536eabc12c00943a0880442c7384a = $(`<div id="html_1b8536eabc12c00943a0880442c7384a" style="width: 100.0%; height: 100.0%;">Отделение СберБанка</div>`)[0];
                popup_97a26d9a5e20b46b23811a64ac6d8d10.setContent(html_1b8536eabc12c00943a0880442c7384a);
            
        

        marker_e727bca8c34a1d018af09724cfc903e0.bindPopup(popup_97a26d9a5e20b46b23811a64ac6d8d10)
        ;

        
    
    
            marker_e727bca8c34a1d018af09724cfc903e0.bindTooltip(
                `<div>
                     Отделение СберБанка
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_4ec20b6592b1b5a150c70cc6ee3d45ba = L.featureGroup(
                {}
            ).addTo(map_41e8749cb56198d7beac32a0852b970e);
        
    
            var marker_fb12fcd717d70e48678ab1c0d50611c4 = L.marker(
                [56.2781, 43.97407],
                {}
            ).addTo(feature_group_4ec20b6592b1b5a150c70cc6ee3d45ba);
        
    
            var icon_d20a767eea2b857584de015a52889f2f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-tree-deciduous", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_fb12fcd717d70e48678ab1c0d50611c4.setIcon(icon_d20a767eea2b857584de015a52889f2f);
        
    
        var popup_38848dfc94792502c0da5146554f4bc9 = L.popup({"maxWidth": 500});

        
            
                var html_966acbe0bd8fc2cc9110ed172fd6056c = $(`<div id="html_966acbe0bd8fc2cc9110ed172fd6056c" style="width: 100.0%; height: 100.0%;">Парк Швейцария</div>`)[0];
                popup_38848dfc94792502c0da5146554f4bc9.setContent(html_966acbe0bd8fc2cc9110ed172fd6056c);
            
        

        marker_fb12fcd717d70e48678ab1c0d50611c4.bindPopup(popup_38848dfc94792502c0da5146554f4bc9)
        ;

        
    
    
            marker_fb12fcd717d70e48678ab1c0d50611c4.bindTooltip(
                `<div>
                     Парк Швейцария
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3568523c063bb3919b9fb61538f9dcbd = L.marker(
                [56.26809, 43.91956],
                {}
            ).addTo(feature_group_4ec20b6592b1b5a150c70cc6ee3d45ba);
        
    
            var icon_82a73986115cc19ac7f121ea9de62d94 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-tree-deciduous", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3568523c063bb3919b9fb61538f9dcbd.setIcon(icon_82a73986115cc19ac7f121ea9de62d94);
        
    
        var popup_aadc5a00adee2cfeaabf3497fc1bb109 = L.popup({"maxWidth": 500});

        
            
                var html_0731a0e9181b880f744a86c573122080 = $(`<div id="html_0731a0e9181b880f744a86c573122080" style="width: 100.0%; height: 100.0%;">Парк Дубки</div>`)[0];
                popup_aadc5a00adee2cfeaabf3497fc1bb109.setContent(html_0731a0e9181b880f744a86c573122080);
            
        

        marker_3568523c063bb3919b9fb61538f9dcbd.bindPopup(popup_aadc5a00adee2cfeaabf3497fc1bb109)
        ;

        
    
    
            marker_3568523c063bb3919b9fb61538f9dcbd.bindTooltip(
                `<div>
                     Парк Дубки
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e292bdc968599a8998dfabc274a4e6db = L.marker(
                [56.33862, 43.85742],
                {}
            ).addTo(feature_group_4ec20b6592b1b5a150c70cc6ee3d45ba);
        
    
            var icon_b31b63ae7b408a8f898b193af58e8fec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-tree-deciduous", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e292bdc968599a8998dfabc274a4e6db.setIcon(icon_b31b63ae7b408a8f898b193af58e8fec);
        
    
        var popup_d3614cddec02f0e4dbda8c10f1f14686 = L.popup({"maxWidth": 500});

        
            
                var html_548ecc235adfceb74b62ffccd3bf4fa9 = $(`<div id="html_548ecc235adfceb74b62ffccd3bf4fa9" style="width: 100.0%; height: 100.0%;">Сормовский парк</div>`)[0];
                popup_d3614cddec02f0e4dbda8c10f1f14686.setContent(html_548ecc235adfceb74b62ffccd3bf4fa9);
            
        

        marker_e292bdc968599a8998dfabc274a4e6db.bindPopup(popup_d3614cddec02f0e4dbda8c10f1f14686)
        ;

        
    
    
            marker_e292bdc968599a8998dfabc274a4e6db.bindTooltip(
                `<div>
                     Сормовский парк
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3bd31222b6e236f01e11d2d578cf045d = L.marker(
                [56.27, 44.00891],
                {}
            ).addTo(feature_group_4ec20b6592b1b5a150c70cc6ee3d45ba);
        
    
            var icon_f9cb98954a5c8901f5771411e2eb3235 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-tree-deciduous", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3bd31222b6e236f01e11d2d578cf045d.setIcon(icon_f9cb98954a5c8901f5771411e2eb3235);
        
    
        var popup_dc336c811c38bd53d5ffe430fb288587 = L.popup({"maxWidth": 500});

        
            
                var html_f9880651a3774ec682b0e51a1a8d306a = $(`<div id="html_f9880651a3774ec682b0e51a1a8d306a" style="width: 100.0%; height: 100.0%;">Щёлоковский хутор</div>`)[0];
                popup_dc336c811c38bd53d5ffe430fb288587.setContent(html_f9880651a3774ec682b0e51a1a8d306a);
            
        

        marker_3bd31222b6e236f01e11d2d578cf045d.bindPopup(popup_dc336c811c38bd53d5ffe430fb288587)
        ;

        
    
    
            marker_3bd31222b6e236f01e11d2d578cf045d.bindTooltip(
                `<div>
                     Щёлоковский хутор
                 </div>`,
                {"sticky": true}
            );
        
    
            var tile_layer_96b3bada1b5ccc4778aac3787d3c9c72 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_41e8749cb56198d7beac32a0852b970e);
        
    
            var tile_layer_b86030bc27e64cec0330d3eb2d595fcc = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_41e8749cb56198d7beac32a0852b970e);
        
    
            var tile_layer_b61f6f637380f529420019e98a7b1e25 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_41e8749cb56198d7beac32a0852b970e);
        
    
            var layer_control_cbf703df9ea2c540b3bde6c0e6380173 = {
                base_layers : {
                    "openstreetmap" : tile_layer_8b75a7670a4fd0e4398c7258bc965b2c,
                    "cartodbpositron" : tile_layer_96b3bada1b5ccc4778aac3787d3c9c72,
                    "cartodbdark_matter" : tile_layer_b86030bc27e64cec0330d3eb2d595fcc,
                    "stamentoner" : tile_layer_b61f6f637380f529420019e98a7b1e25,
                },
                overlays :  {
                    "\u0414\u043e\u0441\u0442\u043e\u043f\u0440\u0438\u043c\u0435\u0447\u0430\u0442\u0435\u043b\u044c\u043d\u043e\u0441\u0442\u0438" : feature_group_aaf36aa83fd95888e9804f2929de5356,
                    "\u0421\u0431\u0435\u0440" : feature_group_9f7f7e62c6a453320cc4477737c3396e,
                    "\u041f\u0430\u0440\u043a\u0438" : feature_group_4ec20b6592b1b5a150c70cc6ee3d45ba,
                },
            };
            L.control.layers(
                layer_control_cbf703df9ea2c540b3bde6c0e6380173.base_layers,
                layer_control_cbf703df9ea2c540b3bde6c0e6380173.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_41e8749cb56198d7beac32a0852b970e);
            tile_layer_96b3bada1b5ccc4778aac3787d3c9c72.remove();
            tile_layer_b86030bc27e64cec0330d3eb2d595fcc.remove();
            tile_layer_b61f6f637380f529420019e98a7b1e25.remove();
        
    
            var mouse_position_e0ebf3b5792e72c449ece1e1824a4b6c = new L.Control.MousePosition(
                {"emptyString": "NaN", "lngFirst": false, "numDigits": 20, "position": "topright", "prefix": "\u0428\u0438\u0440:", "separator": " \u0414\u043e\u043b\u0433: "}
            );
            mouse_position_e0ebf3b5792e72c449ece1e1824a4b6c.options["latFormatter"] =
                function(num) {return L.Util.formatNum(num, 5);};;
            mouse_position_e0ebf3b5792e72c449ece1e1824a4b6c.options["lngFormatter"] =
                function(num) {return L.Util.formatNum(num, 5);};;
            map_41e8749cb56198d7beac32a0852b970e.addControl(mouse_position_e0ebf3b5792e72c449ece1e1824a4b6c);
        
    
                var lat_lng_popup_250c0548c74e655494fb92559f7f8912 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_250c0548c74e655494fb92559f7f8912
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_41e8749cb56198d7beac32a0852b970e);
                    }
                map_41e8749cb56198d7beac32a0852b970e.on('click', latLngPop);
            
</script>
</html>