<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3bdc7234699b298b739e082e834b470e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.66.2/L.Control.Locate.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.66.2/L.Control.Locate.min.css"/>
</head>
<body>
    
    
        <div class="bottom-div"
            style="position:fixed;
            bottom: 0px; right: 0px; width: 100%; height:14px;
            background-color: white; z-index: 1100;">
        </div>
        
    
            <div class="folium-map" id="map_3bdc7234699b298b739e082e834b470e" ></div>
        
</body>
<script>
    
    
            var map_3bdc7234699b298b739e082e834b470e = L.map(
                "map_3bdc7234699b298b739e082e834b470e",
                {
                    center: [56.2927, 44.002],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d5600639845489cfafcb6f810cde8e06 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3bdc7234699b298b739e082e834b470e);
        
    
            var feature_group_c68383d0069f79758c4e132750975cc7 = L.featureGroup(
                {}
            ).addTo(map_3bdc7234699b298b739e082e834b470e);
        
    
            var marker_22d4bccb8e2f3ff4d2b40de017a28563 = L.marker(
                [56.3312128, 44.0094863],
                {}
            ).addTo(feature_group_c68383d0069f79758c4e132750975cc7);
        
    
            var icon_9cbc339f6ba7a38cef0c6926cd6a637d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-star", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_22d4bccb8e2f3ff4d2b40de017a28563.setIcon(icon_9cbc339f6ba7a38cef0c6926cd6a637d);
        
    
        var popup_0109762649615356073368f4276a86b9 = L.popup({"maxWidth": 500});

        
            
                var html_99635b99e21eaf378166e815490a2132 = $(`<div id="html_99635b99e21eaf378166e815490a2132" style="width: 100.0%; height: 100.0%;">Чкаловская лестница        – архитектурнаядостопримечательность Нижнего Новгорода.</div>`)[0];
                popup_0109762649615356073368f4276a86b9.setContent(html_99635b99e21eaf378166e815490a2132);
            
        

        marker_22d4bccb8e2f3ff4d2b40de017a28563.bindPopup(popup_0109762649615356073368f4276a86b9)
        ;

        
    
    
            marker_22d4bccb8e2f3ff4d2b40de017a28563.bindTooltip(
                `<div>
                     Чкаловская лестница
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9eb04cbe12995ec0e8ba80b6bbdcad79 = L.marker(
                [56.3272013, 44.0027067],
                {}
            ).addTo(feature_group_c68383d0069f79758c4e132750975cc7);
        
    
            var icon_2fb778eee5dd2940e6fcb74ecad60c63 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-star", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_9eb04cbe12995ec0e8ba80b6bbdcad79.setIcon(icon_2fb778eee5dd2940e6fcb74ecad60c63);
        
    
        var popup_7c74cfdae33d1f5b76ca6fe5cbf86b32 = L.popup({"maxWidth": 500});

        
            
                var html_e24811cea4043668386f615f8b06c5f0 = $(`<div id="html_e24811cea4043668386f615f8b06c5f0" style="width: 100.0%; height: 100.0%;">Нижегородский кремль –древняя крепость и одновременно        главная историческая достопримечательность Нижнего Новгорода</div>`)[0];
                popup_7c74cfdae33d1f5b76ca6fe5cbf86b32.setContent(html_e24811cea4043668386f615f8b06c5f0);
            
        

        marker_9eb04cbe12995ec0e8ba80b6bbdcad79.bindPopup(popup_7c74cfdae33d1f5b76ca6fe5cbf86b32)
        ;

        
    
    
            marker_9eb04cbe12995ec0e8ba80b6bbdcad79.bindTooltip(
                `<div>
                     Нижегородский кремль
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7955e64e76ae914f66499b8ea2eec096 = L.marker(
                [56.3283203, 43.9612056],
                {}
            ).addTo(feature_group_c68383d0069f79758c4e132750975cc7);
        
    
            var icon_7f832fc6627ea98a35dd9309c8ee9578 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-star", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7955e64e76ae914f66499b8ea2eec096.setIcon(icon_7f832fc6627ea98a35dd9309c8ee9578);
        
    
        var popup_23a8c72e1467b39f277e5b6129f8b855 = L.popup({"maxWidth": 500});

        
            
                var html_68d166f63504c96748a10f4528f88b77 = $(`<div id="html_68d166f63504c96748a10f4528f88b77" style="width: 100.0%; height: 100.0%;">Нижегородская ярмарка — современный выставочный комплекс        и один из популярных брендов Нижнего Новгорода.</div>`)[0];
                popup_23a8c72e1467b39f277e5b6129f8b855.setContent(html_68d166f63504c96748a10f4528f88b77);
            
        

        marker_7955e64e76ae914f66499b8ea2eec096.bindPopup(popup_23a8c72e1467b39f277e5b6129f8b855)
        ;

        
    
    
            marker_7955e64e76ae914f66499b8ea2eec096.bindTooltip(
                `<div>
                     Нижегородская ярмарка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1c0817dcfaa2a6d975c4e30f6b473553 = L.marker(
                [56.3230103, 43.9767375],
                {}
            ).addTo(feature_group_c68383d0069f79758c4e132750975cc7);
        
    
            var icon_a418c89f220c17c36dcf8ebd3117e690 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-star", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_1c0817dcfaa2a6d975c4e30f6b473553.setIcon(icon_a418c89f220c17c36dcf8ebd3117e690);
        
    
        var popup_2c5b635a301c1a2e37474beefdac7861 = L.popup({"maxWidth": 500});

        
            
                var html_640d07949101eb21fd8878c76590e2f7 = $(`<div id="html_640d07949101eb21fd8878c76590e2f7" style="width: 100.0%; height: 100.0%;">Благовещенский монастырь — древнейшая обитель         в Нижнем Новгороде, основанная в 1221 году.</div>`)[0];
                popup_2c5b635a301c1a2e37474beefdac7861.setContent(html_640d07949101eb21fd8878c76590e2f7);
            
        

        marker_1c0817dcfaa2a6d975c4e30f6b473553.bindPopup(popup_2c5b635a301c1a2e37474beefdac7861)
        ;

        
    
    
            marker_1c0817dcfaa2a6d975c4e30f6b473553.bindTooltip(
                `<div>
                     Благовещенский монастырь
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_798be06e9f1e1117428eeb01bd1cc2c1 = L.marker(
                [56.3110529, 43.9879634],
                {}
            ).addTo(feature_group_c68383d0069f79758c4e132750975cc7);
        
    
            var icon_30624d4a8faa07523496ad04f3e88636 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-star", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_798be06e9f1e1117428eeb01bd1cc2c1.setIcon(icon_30624d4a8faa07523496ad04f3e88636);
        
    
        var popup_7313bf136c6e9f4d9b84106dcbb7f75d = L.popup({"maxWidth": 500});

        
            
                var html_470b2ba6ee653aaa4e2a32524d187a81 = $(`<div id="html_470b2ba6ee653aaa4e2a32524d187a81" style="width: 100.0%; height: 100.0%;">Большая Покровская улица –         одна из главных и самых старых улиц Нижнего Новгорода.</div>`)[0];
                popup_7313bf136c6e9f4d9b84106dcbb7f75d.setContent(html_470b2ba6ee653aaa4e2a32524d187a81);
            
        

        marker_798be06e9f1e1117428eeb01bd1cc2c1.bindPopup(popup_7313bf136c6e9f4d9b84106dcbb7f75d)
        ;

        
    
    
            marker_798be06e9f1e1117428eeb01bd1cc2c1.bindTooltip(
                `<div>
                     Большая Покровская улица
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_e719fa89334985444294bbf033997ed9 = L.featureGroup(
                {}
            ).addTo(map_3bdc7234699b298b739e082e834b470e);
        
    
            var marker_ebb12b704c94c8b2146abac9062942a6 = L.marker(
                [56.26657, 44.02483],
                {}
            ).addTo(feature_group_e719fa89334985444294bbf033997ed9);
        
    
            var icon_d52f9efea7dc7a220e1549175a91446f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-solid fa-ruble-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "fa"}
            );
            marker_ebb12b704c94c8b2146abac9062942a6.setIcon(icon_d52f9efea7dc7a220e1549175a91446f);
        
    
        var popup_471e6f01bcaaa4b5359cd0655c823f7c = L.popup({"maxWidth": 500});

        
            
                var html_a0dc1d62f3f63e64dcd54c4911e7e8f7 = $(`<div id="html_a0dc1d62f3f63e64dcd54c4911e7e8f7" style="width: 100.0%; height: 100.0%;">Офис Сбер на Академика Сахарова</div>`)[0];
                popup_471e6f01bcaaa4b5359cd0655c823f7c.setContent(html_a0dc1d62f3f63e64dcd54c4911e7e8f7);
            
        

        marker_ebb12b704c94c8b2146abac9062942a6.bindPopup(popup_471e6f01bcaaa4b5359cd0655c823f7c)
        ;

        
    
    
            marker_ebb12b704c94c8b2146abac9062942a6.bindTooltip(
                `<div>
                     Офис Сбер
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4b7d0c9b41e13bce21659496cc38411d = L.marker(
                [56.27908, 43.95141],
                {}
            ).addTo(feature_group_e719fa89334985444294bbf033997ed9);
        
    
            var icon_7c67f1392d5505834666d222cc3baa95 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-solid fa-ruble-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "fa"}
            );
            marker_4b7d0c9b41e13bce21659496cc38411d.setIcon(icon_7c67f1392d5505834666d222cc3baa95);
        
    
        var popup_fd9e663303c2aa77439b3ef1bff5ca5e = L.popup({"maxWidth": 500});

        
            
                var html_ab44abaddfd6b98edae30b3b394b6887 = $(`<div id="html_ab44abaddfd6b98edae30b3b394b6887" style="width: 100.0%; height: 100.0%;">Отделение СберБанка</div>`)[0];
                popup_fd9e663303c2aa77439b3ef1bff5ca5e.setContent(html_ab44abaddfd6b98edae30b3b394b6887);
            
        

        marker_4b7d0c9b41e13bce21659496cc38411d.bindPopup(popup_fd9e663303c2aa77439b3ef1bff5ca5e)
        ;

        
    
    
            marker_4b7d0c9b41e13bce21659496cc38411d.bindTooltip(
                `<div>
                     Отделение СберБанка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e8174a489096c5e3c861419b3c794d53 = L.marker(
                [56.30731, 43.93684],
                {}
            ).addTo(feature_group_e719fa89334985444294bbf033997ed9);
        
    
            var icon_015d39ea471df20f0913247a9380c144 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-solid fa-ruble-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "fa"}
            );
            marker_e8174a489096c5e3c861419b3c794d53.setIcon(icon_015d39ea471df20f0913247a9380c144);
        
    
        var popup_d058d4da1e5c9b243768bffadaa72e7c = L.popup({"maxWidth": 500});

        
            
                var html_22e83d24aac4848ec49c7d1db50f03ad = $(`<div id="html_22e83d24aac4848ec49c7d1db50f03ad" style="width: 100.0%; height: 100.0%;">Отделение СберБанка</div>`)[0];
                popup_d058d4da1e5c9b243768bffadaa72e7c.setContent(html_22e83d24aac4848ec49c7d1db50f03ad);
            
        

        marker_e8174a489096c5e3c861419b3c794d53.bindPopup(popup_d058d4da1e5c9b243768bffadaa72e7c)
        ;

        
    
    
            marker_e8174a489096c5e3c861419b3c794d53.bindTooltip(
                `<div>
                     Отделение СберБанка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5f7a0f4d01d0ee48d77a35c753d73770 = L.marker(
                [56.32695, 43.95637],
                {}
            ).addTo(feature_group_e719fa89334985444294bbf033997ed9);
        
    
            var icon_6d8b8d20127835b33b02d182efbceccd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-solid fa-ruble-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "fa"}
            );
            marker_5f7a0f4d01d0ee48d77a35c753d73770.setIcon(icon_6d8b8d20127835b33b02d182efbceccd);
        
    
        var popup_86224e0112b33721c38fb93f5ce63b9a = L.popup({"maxWidth": 500});

        
            
                var html_a8f246c20e05c79c8f4ded44a0f5d9bc = $(`<div id="html_a8f246c20e05c79c8f4ded44a0f5d9bc" style="width: 100.0%; height: 100.0%;">Отделение СберБанка</div>`)[0];
                popup_86224e0112b33721c38fb93f5ce63b9a.setContent(html_a8f246c20e05c79c8f4ded44a0f5d9bc);
            
        

        marker_5f7a0f4d01d0ee48d77a35c753d73770.bindPopup(popup_86224e0112b33721c38fb93f5ce63b9a)
        ;

        
    
    
            marker_5f7a0f4d01d0ee48d77a35c753d73770.bindTooltip(
                `<div>
                     Отделение СберБанка
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_1f69b3d602bad7e8a15bdba1c9781872 = L.featureGroup(
                {}
            ).addTo(map_3bdc7234699b298b739e082e834b470e);
        
    
            var marker_3013b352ec44dc0458aa86bdfc2e6c9f = L.marker(
                [56.2781, 43.97407],
                {}
            ).addTo(feature_group_1f69b3d602bad7e8a15bdba1c9781872);
        
    
            var icon_c6d5e7e1e9ad21c8d29d67365ebf7a51 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-tree-deciduous", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3013b352ec44dc0458aa86bdfc2e6c9f.setIcon(icon_c6d5e7e1e9ad21c8d29d67365ebf7a51);
        
    
        var popup_8fc4704d9fd298b06953f03d5c5f7bd8 = L.popup({"maxWidth": 500});

        
            
                var html_ecb3c960c3281b0fdf334a29e3226ea0 = $(`<div id="html_ecb3c960c3281b0fdf334a29e3226ea0" style="width: 100.0%; height: 100.0%;">Парк Швейцария</div>`)[0];
                popup_8fc4704d9fd298b06953f03d5c5f7bd8.setContent(html_ecb3c960c3281b0fdf334a29e3226ea0);
            
        

        marker_3013b352ec44dc0458aa86bdfc2e6c9f.bindPopup(popup_8fc4704d9fd298b06953f03d5c5f7bd8)
        ;

        
    
    
            marker_3013b352ec44dc0458aa86bdfc2e6c9f.bindTooltip(
                `<div>
                     Парк Швейцария
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_78941c8bbd0754fe6eacffea45cd395d = L.marker(
                [56.26809, 43.91956],
                {}
            ).addTo(feature_group_1f69b3d602bad7e8a15bdba1c9781872);
        
    
            var icon_7dcde238066eacf5520b25470888fc3b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-tree-deciduous", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_78941c8bbd0754fe6eacffea45cd395d.setIcon(icon_7dcde238066eacf5520b25470888fc3b);
        
    
        var popup_62cedf8f272f501878c057465c88eb64 = L.popup({"maxWidth": 500});

        
            
                var html_fcccf9434fee7f3b6fba1e2ec1f3e578 = $(`<div id="html_fcccf9434fee7f3b6fba1e2ec1f3e578" style="width: 100.0%; height: 100.0%;">Парк Дубки</div>`)[0];
                popup_62cedf8f272f501878c057465c88eb64.setContent(html_fcccf9434fee7f3b6fba1e2ec1f3e578);
            
        

        marker_78941c8bbd0754fe6eacffea45cd395d.bindPopup(popup_62cedf8f272f501878c057465c88eb64)
        ;

        
    
    
            marker_78941c8bbd0754fe6eacffea45cd395d.bindTooltip(
                `<div>
                     Парк Дубки
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_243a0f1a8c97373f922fd677f174afcb = L.marker(
                [56.33862, 43.85742],
                {}
            ).addTo(feature_group_1f69b3d602bad7e8a15bdba1c9781872);
        
    
            var icon_7b19c2a47f0d4a9485de9cdd0a79cd30 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-tree-deciduous", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_243a0f1a8c97373f922fd677f174afcb.setIcon(icon_7b19c2a47f0d4a9485de9cdd0a79cd30);
        
    
        var popup_925cefb6de131011b8bcc68088a51898 = L.popup({"maxWidth": 500});

        
            
                var html_0909e5fc7d282ccc36b7357157e79f5d = $(`<div id="html_0909e5fc7d282ccc36b7357157e79f5d" style="width: 100.0%; height: 100.0%;">Сормовский парк</div>`)[0];
                popup_925cefb6de131011b8bcc68088a51898.setContent(html_0909e5fc7d282ccc36b7357157e79f5d);
            
        

        marker_243a0f1a8c97373f922fd677f174afcb.bindPopup(popup_925cefb6de131011b8bcc68088a51898)
        ;

        
    
    
            marker_243a0f1a8c97373f922fd677f174afcb.bindTooltip(
                `<div>
                     Сормовский парк
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a08ce140871400a816100096bccdbe2d = L.marker(
                [56.27, 44.00891],
                {}
            ).addTo(feature_group_1f69b3d602bad7e8a15bdba1c9781872);
        
    
            var icon_fbd5dfd26794bcfe0c076a1939bf3e5c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-tree-deciduous", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a08ce140871400a816100096bccdbe2d.setIcon(icon_fbd5dfd26794bcfe0c076a1939bf3e5c);
        
    
        var popup_6c7a54663ee89e9fb105e9c226491da5 = L.popup({"maxWidth": 500});

        
            
                var html_46fa1229e964faf399426da8d8ab3b33 = $(`<div id="html_46fa1229e964faf399426da8d8ab3b33" style="width: 100.0%; height: 100.0%;">Щёлоковский хутор</div>`)[0];
                popup_6c7a54663ee89e9fb105e9c226491da5.setContent(html_46fa1229e964faf399426da8d8ab3b33);
            
        

        marker_a08ce140871400a816100096bccdbe2d.bindPopup(popup_6c7a54663ee89e9fb105e9c226491da5)
        ;

        
    
    
            marker_a08ce140871400a816100096bccdbe2d.bindTooltip(
                `<div>
                     Щёлоковский хутор
                 </div>`,
                {"sticky": true}
            );
        
    
            var tile_layer_e0122a95267a9e5cf6293f9b1fbb009b = L.tileLayer(
                "https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png",
                {"attribution": "Map data: \u0026copy;             \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003e            OpenStreetMap            \u003c/a\u003e contributors,            \u003ca href=\"http://viewfinderpanoramas.org\"\u003eSRTM\u003c/a\u003e            | Map style: \u0026copy; \u003ca href=\"https://opentopomap.org\"\u003e            OpenTopoMap            \u003c/a\u003e (\u003ca href=\"https://creativecommons.org/licenses/by-sa/3.0/\"\u003e            CC-BY-SA\u003c/a\u003e)", "detectRetina": false, "maxNativeZoom": 17, "maxZoom": 17, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3bdc7234699b298b739e082e834b470e);
        
    
            var tile_layer_d18a02cc147af32f9e2a10779d35dd89 = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Tiles \u0026copy; Esri \u0026mdash; Source: Esri, i-cubed, USDA, USGS,            AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the            GIS User Community", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3bdc7234699b298b739e082e834b470e);
        
    
            var layer_control_058c055a0f8c6937aa737132ac18d712 = {
                base_layers : {
                    "\u0421\u0445\u0435\u043c\u0430" : tile_layer_d5600639845489cfafcb6f810cde8e06,
                    "\u0420\u0435\u043b\u044c\u0435\u0444" : tile_layer_e0122a95267a9e5cf6293f9b1fbb009b,
                    "\u0421\u043f\u0443\u0442\u043d\u0438\u043a" : tile_layer_d18a02cc147af32f9e2a10779d35dd89,
                },
                overlays :  {
                    "\u0414\u043e\u0441\u0442\u043e\u043f\u0440\u0438\u043c\u0435\u0447\u0430\u0442\u0435\u043b\u044c\u043d\u043e\u0441\u0442\u0438" : feature_group_c68383d0069f79758c4e132750975cc7,
                    "\u0421\u0431\u0435\u0440" : feature_group_e719fa89334985444294bbf033997ed9,
                    "\u041f\u0430\u0440\u043a\u0438" : feature_group_1f69b3d602bad7e8a15bdba1c9781872,
                },
            };
            L.control.layers(
                layer_control_058c055a0f8c6937aa737132ac18d712.base_layers,
                layer_control_058c055a0f8c6937aa737132ac18d712.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_3bdc7234699b298b739e082e834b470e);
            tile_layer_e0122a95267a9e5cf6293f9b1fbb009b.remove();
            tile_layer_d18a02cc147af32f9e2a10779d35dd89.remove();
        
    
            var mouse_position_6b2470cc835ad4abc6eaaccb54114cd1 = new L.Control.MousePosition(
                {"emptyString": "NaN", "lngFirst": false, "numDigits": 20, "position": "topright", "prefix": "\u0428\u0438\u0440:", "separator": " \u0414\u043e\u043b\u0433: "}
            );
            mouse_position_6b2470cc835ad4abc6eaaccb54114cd1.options["latFormatter"] =
                function(num) {return L.Util.formatNum(num, 5);};;
            mouse_position_6b2470cc835ad4abc6eaaccb54114cd1.options["lngFormatter"] =
                function(num) {return L.Util.formatNum(num, 5);};;
            map_3bdc7234699b298b739e082e834b470e.addControl(mouse_position_6b2470cc835ad4abc6eaaccb54114cd1);
        
    
                var lat_lng_popup_238b44956911ba16f51cd905fb570d44 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_238b44956911ba16f51cd905fb570d44
                        .setLatLng(e.latlng)
                        .setContent("Широта: " + e.latlng.lat.toFixed(4) +
                                    "<br>Долгота: " + e.latlng.lng.toFixed(4))
                        .openOn(map_3bdc7234699b298b739e082e834b470e);
                    }
                map_3bdc7234699b298b739e082e834b470e.on('click', latLngPop);
            
    
            var locate_control_a50740755fba990d38d350fae9930255 = L.control.locate(
                {"strings": {"popup": "\u0412\u0430\u0448\u0435 \u043c\u0435\u0441\u0442\u043e\u043f\u043e\u043b\u043e\u0436\u0435\u043d\u0438\u0435", "title": "\u041c\u0435\u0441\u0442\u043e\u043f\u043e\u043b\u043e\u0436\u0435\u043d\u0438\u0435"}}
            ).addTo(map_3bdc7234699b298b739e082e834b470e);
            
        
</script>
</html>