<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c2a7d61a873b90026aeaea4864562471 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.66.2/L.Control.Locate.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.66.2/L.Control.Locate.min.css"/>
</head>
<body>
    
    
        <div class="bottom-div"
            style="position:fixed;
            bottom: 0px; right: 0px; width: 100%; height:14px;
            background-color: white; z-index: 1100;">
        </div>
        
    
            <div class="folium-map" id="map_c2a7d61a873b90026aeaea4864562471" ></div>
        
</body>
<script>
    
    
            var map_c2a7d61a873b90026aeaea4864562471 = L.map(
                "map_c2a7d61a873b90026aeaea4864562471",
                {
                    center: [56.2927, 44.002],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8fe944a2d802eab623a49017dfe409da = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c2a7d61a873b90026aeaea4864562471);
        
    
            var feature_group_02f8961664f88b8f4827e48386d2011d = L.featureGroup(
                {}
            ).addTo(map_c2a7d61a873b90026aeaea4864562471);
        
    
            var marker_ec974eb6331cd8f7facff96f66c6240e = L.marker(
                [56.3312128, 44.0094863],
                {}
            ).addTo(feature_group_02f8961664f88b8f4827e48386d2011d);
        
    
            var icon_4ba1f5637583c63b1ac30a3e117df47f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-star", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ec974eb6331cd8f7facff96f66c6240e.setIcon(icon_4ba1f5637583c63b1ac30a3e117df47f);
        
    
        var popup_cd9436e3d3d86aaa6afc300ac3ad9717 = L.popup({"maxWidth": 500});

        
            
                var html_a1f8846205a879754f3e733b688d5419 = $(`<div id="html_a1f8846205a879754f3e733b688d5419" style="width: 100.0%; height: 100.0%;">Чкаловская лестница        – архитектурнаядостопримечательность Нижнего Новгорода.</div>`)[0];
                popup_cd9436e3d3d86aaa6afc300ac3ad9717.setContent(html_a1f8846205a879754f3e733b688d5419);
            
        

        marker_ec974eb6331cd8f7facff96f66c6240e.bindPopup(popup_cd9436e3d3d86aaa6afc300ac3ad9717)
        ;

        
    
    
            marker_ec974eb6331cd8f7facff96f66c6240e.bindTooltip(
                `<div>
                     Чкаловская лестница
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_66d886ab959b61eef2ae46b5616ae21d = L.marker(
                [56.3272013, 44.0027067],
                {}
            ).addTo(feature_group_02f8961664f88b8f4827e48386d2011d);
        
    
            var icon_370ccee6de78477847d1492abd5919cc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-star", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_66d886ab959b61eef2ae46b5616ae21d.setIcon(icon_370ccee6de78477847d1492abd5919cc);
        
    
        var popup_0e8aa3224a5a69f89eab3bf1c3e1fcf6 = L.popup({"maxWidth": 500});

        
            
                var html_b98f42c9bbe242d859ebcf09cf855186 = $(`<div id="html_b98f42c9bbe242d859ebcf09cf855186" style="width: 100.0%; height: 100.0%;">Нижегородский кремль –древняя крепость и одновременно        главная историческая достопримечательность Нижнего Новгорода</div>`)[0];
                popup_0e8aa3224a5a69f89eab3bf1c3e1fcf6.setContent(html_b98f42c9bbe242d859ebcf09cf855186);
            
        

        marker_66d886ab959b61eef2ae46b5616ae21d.bindPopup(popup_0e8aa3224a5a69f89eab3bf1c3e1fcf6)
        ;

        
    
    
            marker_66d886ab959b61eef2ae46b5616ae21d.bindTooltip(
                `<div>
                     Нижегородский кремль
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0cd0c11f98df01fe3e501f6a397b43fb = L.marker(
                [56.3283203, 43.9612056],
                {}
            ).addTo(feature_group_02f8961664f88b8f4827e48386d2011d);
        
    
            var icon_6fef588702c4fd92fcd859f1a476a0b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-star", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_0cd0c11f98df01fe3e501f6a397b43fb.setIcon(icon_6fef588702c4fd92fcd859f1a476a0b4);
        
    
        var popup_2b93546240d2dd7e2004b734fb7c119e = L.popup({"maxWidth": 500});

        
            
                var html_3816ba6d927c4897c348c2a911caf1de = $(`<div id="html_3816ba6d927c4897c348c2a911caf1de" style="width: 100.0%; height: 100.0%;">Нижегородская ярмарка — современный выставочный комплекс        и один из популярных брендов Нижнего Новгорода.</div>`)[0];
                popup_2b93546240d2dd7e2004b734fb7c119e.setContent(html_3816ba6d927c4897c348c2a911caf1de);
            
        

        marker_0cd0c11f98df01fe3e501f6a397b43fb.bindPopup(popup_2b93546240d2dd7e2004b734fb7c119e)
        ;

        
    
    
            marker_0cd0c11f98df01fe3e501f6a397b43fb.bindTooltip(
                `<div>
                     Нижегородская ярмарка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2f7ec357d0e239a4dd6d934b3f8f76b6 = L.marker(
                [56.3230103, 43.9767375],
                {}
            ).addTo(feature_group_02f8961664f88b8f4827e48386d2011d);
        
    
            var icon_9e9c31e02022bbf9663da1db6a7a1d04 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-star", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2f7ec357d0e239a4dd6d934b3f8f76b6.setIcon(icon_9e9c31e02022bbf9663da1db6a7a1d04);
        
    
        var popup_88f0177b8148488ae4db57f99b51aa6e = L.popup({"maxWidth": 500});

        
            
                var html_569d9ad48c3fd5d71a4e7935ad37936c = $(`<div id="html_569d9ad48c3fd5d71a4e7935ad37936c" style="width: 100.0%; height: 100.0%;">Благовещенский монастырь — древнейшая обитель         в Нижнем Новгороде, основанная в 1221 году.</div>`)[0];
                popup_88f0177b8148488ae4db57f99b51aa6e.setContent(html_569d9ad48c3fd5d71a4e7935ad37936c);
            
        

        marker_2f7ec357d0e239a4dd6d934b3f8f76b6.bindPopup(popup_88f0177b8148488ae4db57f99b51aa6e)
        ;

        
    
    
            marker_2f7ec357d0e239a4dd6d934b3f8f76b6.bindTooltip(
                `<div>
                     Благовещенский монастырь
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d156497af5003dc74c3368c02e487145 = L.marker(
                [56.3110529, 43.9879634],
                {}
            ).addTo(feature_group_02f8961664f88b8f4827e48386d2011d);
        
    
            var icon_727fb286e908d146b066ecb11ddfbf53 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-star", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d156497af5003dc74c3368c02e487145.setIcon(icon_727fb286e908d146b066ecb11ddfbf53);
        
    
        var popup_1514c5a163f6bdcba58104a82ebd6b22 = L.popup({"maxWidth": 500});

        
            
                var html_55b428686ad058d0048dd10e070bf70a = $(`<div id="html_55b428686ad058d0048dd10e070bf70a" style="width: 100.0%; height: 100.0%;">Большая Покровская улица –         одна из главных и самых старых улиц Нижнего Новгорода.</div>`)[0];
                popup_1514c5a163f6bdcba58104a82ebd6b22.setContent(html_55b428686ad058d0048dd10e070bf70a);
            
        

        marker_d156497af5003dc74c3368c02e487145.bindPopup(popup_1514c5a163f6bdcba58104a82ebd6b22)
        ;

        
    
    
            marker_d156497af5003dc74c3368c02e487145.bindTooltip(
                `<div>
                     Большая Покровская улица
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_083076e35fb46265bf2223a5cb51c516 = L.featureGroup(
                {}
            ).addTo(map_c2a7d61a873b90026aeaea4864562471);
        
    
            var marker_c7bb6c57c4e3b61599e5af5675a87a88 = L.marker(
                [56.26657, 44.02483],
                {}
            ).addTo(feature_group_083076e35fb46265bf2223a5cb51c516);
        
    
            var icon_8de52d2c7a6d65de3239d3b098df5c62 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-solid fa-ruble-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "fa"}
            );
            marker_c7bb6c57c4e3b61599e5af5675a87a88.setIcon(icon_8de52d2c7a6d65de3239d3b098df5c62);
        
    
        var popup_bfd23df383253fcfa9917ff6b009dcdd = L.popup({"maxWidth": 500});

        
            
                var html_9c56a657d9c95070424b671a007b9ca2 = $(`<div id="html_9c56a657d9c95070424b671a007b9ca2" style="width: 100.0%; height: 100.0%;">Офис Сбер на Академика Сахарова</div>`)[0];
                popup_bfd23df383253fcfa9917ff6b009dcdd.setContent(html_9c56a657d9c95070424b671a007b9ca2);
            
        

        marker_c7bb6c57c4e3b61599e5af5675a87a88.bindPopup(popup_bfd23df383253fcfa9917ff6b009dcdd)
        ;

        
    
    
            marker_c7bb6c57c4e3b61599e5af5675a87a88.bindTooltip(
                `<div>
                     Офис Сбер
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ea3c1a012d6756a9ae64f0ea6da27227 = L.marker(
                [56.27908, 43.95141],
                {}
            ).addTo(feature_group_083076e35fb46265bf2223a5cb51c516);
        
    
            var icon_bb443a58e69717b113dbb516fea85437 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-solid fa-ruble-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "fa"}
            );
            marker_ea3c1a012d6756a9ae64f0ea6da27227.setIcon(icon_bb443a58e69717b113dbb516fea85437);
        
    
        var popup_82cbf205397bfd53edcd524f042ba57f = L.popup({"maxWidth": 500});

        
            
                var html_c6e10a0593d95d7b6365c49b838e3eef = $(`<div id="html_c6e10a0593d95d7b6365c49b838e3eef" style="width: 100.0%; height: 100.0%;">Отделение СберБанка</div>`)[0];
                popup_82cbf205397bfd53edcd524f042ba57f.setContent(html_c6e10a0593d95d7b6365c49b838e3eef);
            
        

        marker_ea3c1a012d6756a9ae64f0ea6da27227.bindPopup(popup_82cbf205397bfd53edcd524f042ba57f)
        ;

        
    
    
            marker_ea3c1a012d6756a9ae64f0ea6da27227.bindTooltip(
                `<div>
                     Отделение СберБанка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1c17e8d34d19b9ac88359182b570051b = L.marker(
                [56.30731, 43.93684],
                {}
            ).addTo(feature_group_083076e35fb46265bf2223a5cb51c516);
        
    
            var icon_e8b2bb73d1d37a0e28a3deeb7516bed1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-solid fa-ruble-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "fa"}
            );
            marker_1c17e8d34d19b9ac88359182b570051b.setIcon(icon_e8b2bb73d1d37a0e28a3deeb7516bed1);
        
    
        var popup_28071feade6e0c08f1aa067091810d6c = L.popup({"maxWidth": 500});

        
            
                var html_9cf2aa6fa64a355a5cd22f83e67c2662 = $(`<div id="html_9cf2aa6fa64a355a5cd22f83e67c2662" style="width: 100.0%; height: 100.0%;">Отделение СберБанка</div>`)[0];
                popup_28071feade6e0c08f1aa067091810d6c.setContent(html_9cf2aa6fa64a355a5cd22f83e67c2662);
            
        

        marker_1c17e8d34d19b9ac88359182b570051b.bindPopup(popup_28071feade6e0c08f1aa067091810d6c)
        ;

        
    
    
            marker_1c17e8d34d19b9ac88359182b570051b.bindTooltip(
                `<div>
                     Отделение СберБанка
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6739b1b92bb73b98470ef0b9f5c28f24 = L.marker(
                [56.32695, 43.95637],
                {}
            ).addTo(feature_group_083076e35fb46265bf2223a5cb51c516);
        
    
            var icon_63b6badc7614bfa4058d020ded76aa1d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fa-solid fa-ruble-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "fa"}
            );
            marker_6739b1b92bb73b98470ef0b9f5c28f24.setIcon(icon_63b6badc7614bfa4058d020ded76aa1d);
        
    
        var popup_ea6c3e4d3d6300916c59420ce885a03c = L.popup({"maxWidth": 500});

        
            
                var html_495bdf377b11512e067d31a511fc682a = $(`<div id="html_495bdf377b11512e067d31a511fc682a" style="width: 100.0%; height: 100.0%;">Отделение СберБанка</div>`)[0];
                popup_ea6c3e4d3d6300916c59420ce885a03c.setContent(html_495bdf377b11512e067d31a511fc682a);
            
        

        marker_6739b1b92bb73b98470ef0b9f5c28f24.bindPopup(popup_ea6c3e4d3d6300916c59420ce885a03c)
        ;

        
    
    
            marker_6739b1b92bb73b98470ef0b9f5c28f24.bindTooltip(
                `<div>
                     Отделение СберБанка
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_80e6dc214fc5b11f285b612f3c9779df = L.featureGroup(
                {}
            ).addTo(map_c2a7d61a873b90026aeaea4864562471);
        
    
            var marker_d2157b435ad3ed462375b876619c2a22 = L.marker(
                [56.2781, 43.97407],
                {}
            ).addTo(feature_group_80e6dc214fc5b11f285b612f3c9779df);
        
    
            var icon_18502eb89455313d03921ef439b9d071 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-tree-deciduous", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d2157b435ad3ed462375b876619c2a22.setIcon(icon_18502eb89455313d03921ef439b9d071);
        
    
        var popup_c0b9f3a1e76c9308c84ab3ac07c794b5 = L.popup({"maxWidth": 500});

        
            
                var html_2160a63791d0d5b62d00d6b948b4a745 = $(`<div id="html_2160a63791d0d5b62d00d6b948b4a745" style="width: 100.0%; height: 100.0%;">Парк Швейцария</div>`)[0];
                popup_c0b9f3a1e76c9308c84ab3ac07c794b5.setContent(html_2160a63791d0d5b62d00d6b948b4a745);
            
        

        marker_d2157b435ad3ed462375b876619c2a22.bindPopup(popup_c0b9f3a1e76c9308c84ab3ac07c794b5)
        ;

        
    
    
            marker_d2157b435ad3ed462375b876619c2a22.bindTooltip(
                `<div>
                     Парк Швейцария
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d8b5d415708951637279e8b8e9103085 = L.marker(
                [56.26809, 43.91956],
                {}
            ).addTo(feature_group_80e6dc214fc5b11f285b612f3c9779df);
        
    
            var icon_ae659282260010b09ee77b17be330080 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-tree-deciduous", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d8b5d415708951637279e8b8e9103085.setIcon(icon_ae659282260010b09ee77b17be330080);
        
    
        var popup_da9c29f1992fc0fb5aef96f8c510290c = L.popup({"maxWidth": 500});

        
            
                var html_b6a9dc10b554c1d6da736f5cbbc2f2dc = $(`<div id="html_b6a9dc10b554c1d6da736f5cbbc2f2dc" style="width: 100.0%; height: 100.0%;">Парк Дубки</div>`)[0];
                popup_da9c29f1992fc0fb5aef96f8c510290c.setContent(html_b6a9dc10b554c1d6da736f5cbbc2f2dc);
            
        

        marker_d8b5d415708951637279e8b8e9103085.bindPopup(popup_da9c29f1992fc0fb5aef96f8c510290c)
        ;

        
    
    
            marker_d8b5d415708951637279e8b8e9103085.bindTooltip(
                `<div>
                     Парк Дубки
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b7f643adae88c9cc562595efd96c3f40 = L.marker(
                [56.33862, 43.85742],
                {}
            ).addTo(feature_group_80e6dc214fc5b11f285b612f3c9779df);
        
    
            var icon_3e2cc4c25514bca440f1ab693d95bb27 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-tree-deciduous", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b7f643adae88c9cc562595efd96c3f40.setIcon(icon_3e2cc4c25514bca440f1ab693d95bb27);
        
    
        var popup_e8bd0771df0e0b97632a1dcd7c3d8b18 = L.popup({"maxWidth": 500});

        
            
                var html_e1cf7c1f009a53625e3cd94f92f11ad9 = $(`<div id="html_e1cf7c1f009a53625e3cd94f92f11ad9" style="width: 100.0%; height: 100.0%;">Сормовский парк</div>`)[0];
                popup_e8bd0771df0e0b97632a1dcd7c3d8b18.setContent(html_e1cf7c1f009a53625e3cd94f92f11ad9);
            
        

        marker_b7f643adae88c9cc562595efd96c3f40.bindPopup(popup_e8bd0771df0e0b97632a1dcd7c3d8b18)
        ;

        
    
    
            marker_b7f643adae88c9cc562595efd96c3f40.bindTooltip(
                `<div>
                     Сормовский парк
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_198ef5bd07b8545ff3fcc4b3d4d68f66 = L.marker(
                [56.27, 44.00891],
                {}
            ).addTo(feature_group_80e6dc214fc5b11f285b612f3c9779df);
        
    
            var icon_b7906b2d675b718b42fc172770e7d4f2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "glyphicon glyphicon-tree-deciduous", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_198ef5bd07b8545ff3fcc4b3d4d68f66.setIcon(icon_b7906b2d675b718b42fc172770e7d4f2);
        
    
        var popup_9a42ba26639b994eab53fb9ea87cd253 = L.popup({"maxWidth": 500});

        
            
                var html_3051140fd261d46e09c6e4a6dbaff7e1 = $(`<div id="html_3051140fd261d46e09c6e4a6dbaff7e1" style="width: 100.0%; height: 100.0%;">Щёлоковский хутор</div>`)[0];
                popup_9a42ba26639b994eab53fb9ea87cd253.setContent(html_3051140fd261d46e09c6e4a6dbaff7e1);
            
        

        marker_198ef5bd07b8545ff3fcc4b3d4d68f66.bindPopup(popup_9a42ba26639b994eab53fb9ea87cd253)
        ;

        
    
    
            marker_198ef5bd07b8545ff3fcc4b3d4d68f66.bindTooltip(
                `<div>
                     Щёлоковский хутор
                 </div>`,
                {"sticky": true}
            );
        
    
            var tile_layer_61de239d2d98805783420517ca375e40 = L.tileLayer(
                "https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png",
                {"attribution": "Map data: \u0026copy;             \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003e            OpenStreetMap            \u003c/a\u003e contributors,            \u003ca href=\"http://viewfinderpanoramas.org\"\u003eSRTM\u003c/a\u003e            | Map style: \u0026copy; \u003ca href=\"https://opentopomap.org\"\u003e            OpenTopoMap            \u003c/a\u003e (\u003ca href=\"https://creativecommons.org/licenses/by-sa/3.0/\"\u003e            CC-BY-SA\u003c/a\u003e)", "detectRetina": false, "maxNativeZoom": 17, "maxZoom": 17, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c2a7d61a873b90026aeaea4864562471);
        
    
            var tile_layer_1180b0dcaf406a13ea3c108e2ea33418 = L.tileLayer(
                "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Tiles \u0026copy; Esri \u0026mdash; Source: Esri, i-cubed, USDA, USGS,            AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the            GIS User Community", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c2a7d61a873b90026aeaea4864562471);
        
    
            var layer_control_55ac35f439ae0e382c81fbd563bc3205 = {
                base_layers : {
                    "\u0421\u0445\u0435\u043c\u0430" : tile_layer_8fe944a2d802eab623a49017dfe409da,
                    "\u0420\u0435\u043b\u044c\u0435\u0444" : tile_layer_61de239d2d98805783420517ca375e40,
                    "\u0421\u043f\u0443\u0442\u043d\u0438\u043a" : tile_layer_1180b0dcaf406a13ea3c108e2ea33418,
                },
                overlays :  {
                    "\u0414\u043e\u0441\u0442\u043e\u043f\u0440\u0438\u043c\u0435\u0447\u0430\u0442\u0435\u043b\u044c\u043d\u043e\u0441\u0442\u0438" : feature_group_02f8961664f88b8f4827e48386d2011d,
                    "\u0421\u0431\u0435\u0440" : feature_group_083076e35fb46265bf2223a5cb51c516,
                    "\u041f\u0430\u0440\u043a\u0438" : feature_group_80e6dc214fc5b11f285b612f3c9779df,
                },
            };
            L.control.layers(
                layer_control_55ac35f439ae0e382c81fbd563bc3205.base_layers,
                layer_control_55ac35f439ae0e382c81fbd563bc3205.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_c2a7d61a873b90026aeaea4864562471);
            tile_layer_61de239d2d98805783420517ca375e40.remove();
            tile_layer_1180b0dcaf406a13ea3c108e2ea33418.remove();
        
    
            var mouse_position_8de1c5e83ef2250a4e5de3526487dded = new L.Control.MousePosition(
                {"emptyString": "NaN", "lngFirst": false, "numDigits": 20, "position": "topright", "prefix": "\u0428\u0438\u0440:", "separator": " \u0414\u043e\u043b\u0433: "}
            );
            mouse_position_8de1c5e83ef2250a4e5de3526487dded.options["latFormatter"] =
                function(num) {return L.Util.formatNum(num, 5);};;
            mouse_position_8de1c5e83ef2250a4e5de3526487dded.options["lngFormatter"] =
                function(num) {return L.Util.formatNum(num, 5);};;
            map_c2a7d61a873b90026aeaea4864562471.addControl(mouse_position_8de1c5e83ef2250a4e5de3526487dded);
        
    
                var lat_lng_popup_f3ba99df111915a73651204f1f570e6f = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_f3ba99df111915a73651204f1f570e6f
                        .setLatLng(e.latlng)
                        .setContent("Широта: " + e.latlng.lat.toFixed(4) +
                                    "<br>Долгота: " + e.latlng.lng.toFixed(4))
                        .openOn(map_c2a7d61a873b90026aeaea4864562471);
                    }
                map_c2a7d61a873b90026aeaea4864562471.on('click', latLngPop);
            
    
            var locate_control_ef692688dbce89823531b06e60c99576 = L.control.locate(
                {"strings": {"popup": "\u0412\u0430\u0448\u0435 \u043c\u0435\u0441\u0442\u043e\u043f\u043e\u043b\u043e\u0436\u0435\u043d\u0438\u0435", "title": "\u041c\u0435\u0441\u0442\u043e\u043f\u043e\u043b\u043e\u0436\u0435\u043d\u0438\u0435"}}
            ).addTo(map_c2a7d61a873b90026aeaea4864562471);
            
        
</script>
</html>